body{
    font-family: sans-serif;
    background-color: rgb(136, 133, 133);   
    margin: 0;
}

header{
    background-image: url(imagens/bg-3.jpg);
    background-size:cover;
    background-position: 30%;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: 100%;
}
ul{
    padding-left: 0;
    margin-top: 30px;
    width: 95%;
}

li{
    list-style-position: inside;
}

a{
    text-decoration: none;
}

.menu{
    margin: -29px auto;
    margin-left: 40%;
    width: 95%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;

}

.menu li{
    list-style-type: none;
    display: inline-block;
    padding: 6px;
}

.menu a:hover{
 background-color:#222121bd;
}
.menu a{
    color: white;
    background-color: rgb(102, 102, 102);
    border: 1px solid white;
    border-radius: 1px;
    padding: 18px;
    font-size: 17px;
}

h1{
    color: white;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

h3{
    padding-top:20px;
}

.p-carreira{
    color: white;
    background-color: #222121bd;
    padding: 0.5px;
    text-align: center;
    width: 32%;
    margin: 80px auto;
    border-bottom: 3px solid rgb(179, 176, 176);
}

/* fundo cinza padrão para o resto da página 
body {
    font-family: sans-serif;
    background-color: rgb(136, 133, 133);
    overflow-x: hidden;
    margin: 0;
}


header {
    background-image: url(imagens/bg-3.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 80px;  adiciona altura suficiente pro conteúdo 
}


ul {
    padding-left: 0;
    margin-top: 30px;
    width: 95%;
}

li {
    list-style-position: inside;
}

a {
    text-decoration: none;
}

.menu {
    margin: -29px auto;
    margin-left: 42%;
    width: 95%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
}

.menu li {
    list-style-type: none;
    display: inline-block;
    padding: 6px;
}

.menu a {
    color: white;
    background-color: rgb(102, 102, 102);
    border: 1px solid white;
    border-radius: 1px;
    padding: 18px;
    font-size: 19px;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    margin-top: 220px;
}

h3 {
    padding-top: 20px;
    color: black;  fica visível no fundo cinza 
    text-align: center;
}

.p-carreira {
    color: white;
    background-color: rgba(34, 33, 33, 0.74);
    padding: 0.5px;
    text-align: center;
    width: 27%;
    margin: auto;
    border-bottom: 3px solid rgb(179, 176, 176);
}
 */